.menu {
    background-color: #101010;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}
.menu-link ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu-link ul li a {
   line-height: center;
   color: white;
   text-decoration: none;
   padding: 0 10px;
}
.menu-link ul li a:hover {
    color: #cbcaca;
    border-radius: 3px;
    transition: 0.6s;
    width: 70px;
    height: 30px;
    background-color: #212020;
}
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}